@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root {
  --bgColor: #564a4e;
}

body {
  background-color: var(--bgColor);
  font-family: "Roboto", sans-serif;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.main-date-header {
  background: #eeebec;
}

th,
.current-Time,
.user-Location,
.hijra-Date,
.Todays-Date {
  font-weight: bold;
  font-size: 2.23rem;
}

td {
  font-weight: 600;
  font-size: 1.15rem;
}

th,
td {
  padding: 10px;
  text-align: center;
  /* remove border if needed */
  border: 1px solid #ddd;
}

.main-date-header,
.top-Header,
.current-Time {
  text-align: center;
}

.top-Header,
.current-Time {
  color: #fff;
}
